.Joke {
  margin-bottom: 0.75em;
  padding: 0.2em;
}

.Joke-locked {
  background-color: #ccc;
}

.Joke-votearea {
  display: inline-block;
  vertical-align: top;
}

.Joke-votearea > * {
  margin-right: 1em;

}
.Joke-text {
  margin-left: 1em;
  display: inline-block;
  width: 100%;
}

.Icon-Button {
  padding: 7px;
  color: darkgrey;
}
.Icon-Button .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}